
<!--displays incoming works for a pre-review-->
<div class="kt-portlet">
	<div class="kt-portlet__head">
		<div class="kt-portlet__head-caption">
			<div class="kt-portlet__head-title">
						<span class="kt-portlet__head-icon kt-hide">
							<i class="la la-gear"></i>
						</span>
				<h3 class="kt-portlet__head-text">
					Incoming Works
				</h3>
			</div>
		</div>
	</div>

	<div class="kt-portlet__body">
		<div class="border" style="padding: 0 10px; font-weight: 500">
			<div class="row border-bottom bg-light">
				<div class="col-sm-1 py-3" >ID</div>
				<div class="col-sm-4 py-3">Title</div>
				<div class="col-sm-3 py-3" >Author</div>
				<div class="col-sm-2 py-3">Date Submitted</div>
				<div class="col-sm-2 py-3">
					<div class="d-flex justify-content-center">
					<span class="justify-content-center">
						Action
					</span>
					</div>
				</div>

			</div>
			<div class="row" *ngIf="works$ | async as works; else noWorks">
				<ng-container *ngFor="let w of works">
					<div class="col-sm-1 py-3 align-self-center">{{w.WID}}</div>
					<div class="col-sm-4 py-3 align-self-center">{{w.Title}}</div>
					<div class="col-sm-3 py-3 align-self-center">{{w.AuthorName}}</div>
					<div class="col-sm-2 py-3 align-self-center">{{w.DateSubmission}}</div>
					<div class="col-sm-2 py-3 align-self-center">
						<div class="d-flex justify-content-center">
					<span>
						<button mat-button color="primary" (click)="onClick(w)">Review</button>
					</span>
						</div>
					</div>
				</ng-container>
			</div>
		</div>
	</div>
</div>

<!--display no incoming works message if there the works are not received from the server
or admin pre-reviewed all incoming works -->
<ng-template #noWorks>
	<h4 class="text-center my-5">There are no incoming works for pre review.</h4>
</ng-template>
