th.mat-header-cell {
	text-align: center;
}

td {
	text-align: center;
}
:host ::ng-deep .mat-sort-header-container {
	display: flex;
	justify-content: center;
	text-align: center;
}

h5,h4{
	color: #646c9a;
}
