
.mat-row.hovered {
	background: #ebedf2;
}

.mat-row.highlighted {
	background: #ebedf2;
}

:host::ng-deep .mat-button-focus-overlay {
	background-color: transparent!important;
}

.btn.btn-default{
	color: black;
}

.btn.btn-default:hover{
	color: white;
}
