<!--<div class="backdrop" (click)="close.emit()"-->
<!--&gt;</div>-->

<div class="modal1">
	<nav  class="navbar1">
		<div class="grid-main">
			<div class="grid-title">
				<h1>{{ title }}</h1>
			</div>

			<div class="grid-btn">
				<button type="button" class="close" style="opacity: 1;" aria-label="Close" (click)="close()">
					<i class="fa fa-window-minimize" aria-hidden="true"></i>
				</button>
			</div>
		</div>
	</nav>

	<div class="container-fluids messages"
		 #scrollMe [scrollTop]="scrollMe.scrollHeight"
		*ngIf="messages$ | async | sortbyDate as messages; else loadingMessage"
	>
		<div class="container"
		*ngFor="let msg of messages">
			<div class="media">
				<div class="media-left">
					<img src="https://www.w3schools.com/bootstrap/img_avatar1.png" class="media-object"
						 style="width:60px">
				</div>
				<div class="media-body">
					<h4 class="media-heading">{{msg.ReviewerName}} <small><i>Posted on {{msg.DTime | date: 'longDate' }}</i></small></h4>
					<p>{{msg.Message}}</p>
				</div>
			</div>
			<hr>
		</div>
	</div>


	<div class="msg-footer">

		<div style="
		padding: 8px;
		border-bottom-right-radius: 4px;
  		border-bottom-left-radius: 43px;
    	margin: 15px 6px;">

			<div class="inputWithIcon">
				<input #input type="text" placeholder="Write a message..."
					   (keyup.enter)="submit(input)"
					   [disabled]="data.canWrite==false"
				/>
				<i class="fa fa-paper-plane fa-lg" aria-hidden="true" (click)="submit(input)"></i>
			</div>
		</div>

	</div>
</div>





<ng-template #loadingMessage>
	<p class="text-center">No new messages</p>
</ng-template>

<ng-template #multiple>

</ng-template>



