<div class="row">
	<div class="col-lg-6">
		<div class="kt-portlet">
			<div class="kt-portlet__head">
				<div class="kt-portlet__head-caption">
					<div class="kt-portlet__head-title">
                  <span class="kt-portlet__head-icon kt-hide">
                     <i class="la la-gear"></i>
                  </span>
						<h3 class="kt-portlet__head-text">
							Set Threshold for Acceptance
						</h3>
					</div>
				</div>
			</div>
			<form class="kt-form">
				<div class="kt-portlet__body">
					<div class="kt-form__section kt-form__section--first">
						<div class="kt-form__group form-group">
							Threshold for Acceptance (Points)<br>
							<mat-form-field class="example-margin">
								<input matInput type="text" placeholder="Value" [formControl]="thresholdControl" [(ngModel)]=value  max="55">
							</mat-form-field>
							<mat-error *ngIf="isControlHasError('required')">
								<strong>Required field</strong>
							</mat-error>
							<mat-error *ngIf="isControlHasError('min')">
								<strong>Minimum threshold should be 1</strong>
							</mat-error>
							<mat-error *ngIf="isControlHasError('pattern')">
								<strong>Letters and symbols are not allowed</strong>
							</mat-error>

						</div>
					</div>
				</div>
				<div class="kt-portlet__foot kt-portlet__no-border">
					<div class="kt-form__actions kt-form__actions--solid">
						<div class="button-row">
							<a href="javascript:;" class="btn btn-primary kt-margin-r-10" color="primary" (click)="onSubmit(false)"
							   mat-raised-button matTooltip="Submit & Continue">
								<span class="kt-hidden-mobile">Submit</span>
							</a>
							&nbsp;&nbsp;&nbsp;&nbsp;
							<a [routerLink]="['../Dashboard']" class="btn btn-secondary kt-margin-r-10" mat-raised-button
							   matTooltip="Back to the users list">
								<span class="kt-hidden-mobile">Cancel</span>
							</a>
						</div>
					</div>
				</div>
			</form>
			<!--end::Form-->
		</div>
	</div>
</div>
